@font-face {
  font-family: "iconfont"; /* Project id 3575564 */
  src: url('iconfont.woff2?t=1659953969379') format('woff2'),
  url('iconfont.woff?t=1659953969379') format('woff'),
  url('iconfont.ttf?t=1659953969379') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Group534:before {
  content: "\e621";
  background: linear-gradient(167.42deg, #5D67FE 16.22%, #7C8CF4 88.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group528:before {
  content: "\e622";
  background: linear-gradient(107.56deg, #637293 0%, #6F7A92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group531:before {
  content: "\e623";
  background: linear-gradient(107.56deg, #637293 0%, #6F7A92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group536:before {
  content: "\e624";
  background: linear-gradient(107.56deg, #637293 0%, #6F7A92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group537:before {
  content: "\e625";
  background: linear-gradient(173.55deg, #00B3F7 13.56%, #1FBFF5 98.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group535:before {
  content: "\e626";
  background: linear-gradient(169.43deg, #4CB59C 16.5%, #37C4A2 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group529:before {
  content: "\e627";
  background: linear-gradient(138.65deg, #2A7CF5 14.23%, #188BF5 86.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.icon-zcrk_x:before {
  content: "\e628";
  background: linear-gradient(138.65deg, #2A7CF5 14.23%, #188BF5 86.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.icon-a-Group539:before {
  content: "\e629";
  background: linear-gradient(138.65deg, #2A7CF5 14.23%, #188BF5 86.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group542:before {
  content: "\e62a";
  background: linear-gradient(138.65deg, #2A7CF5 14.23%, #188BF5 86.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group540:before {
  content: "\e62b";
  background: linear-gradient(169.43deg, #E95B58 16.5%, #F96D64 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.icon-a-Group538:before {
  content: "\e62c";
  background: linear-gradient(138.65deg, #2A7CF5 14.23%, #188BF5 86.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group541:before {
  content: "\e62d";
  background: linear-gradient(173.55deg, #00B3F7 13.56%, #1FBFF5 98.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group533:before {
  content: "\e62e";
  background: linear-gradient(169.43deg, #F7A03A 16.5%, #FFAF51 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-scrk_x:before {
  content: "\e62f";
  background: linear-gradient(169.43deg, #4CB59C 16.5%, #37C4A2 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group532:before {
  content: "\e630";
  background: linear-gradient(169.43deg, #E95B58 16.5%, #F96D64 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-llrk_x:before {
  content: "\e631";
  background: linear-gradient(173.55deg, #00B3F7 13.56%, #1FBFF5 98.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group5433:before {
  content: "\e632";
  background: linear-gradient(169.43deg, #4CB59C 16.5%, #37C4A2 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group5274:before {
  content: "\e633";
  background: linear-gradient(169.43deg, #F7A03A 16.5%, #FFAF51 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-a-Group5301:before {
  content: "\e634";
  background: linear-gradient(173.55deg, #00B3F7 13.56%, #1FBFF5 98.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

